* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1,h2,h3,p{
  color: #363636;
  font-weight: 400;
}
.content{
  padding: 0 160px;
  margin-top: 50px;
}
header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
}
.header{
  background-color: #1da1f2;
  padding: 2px 0;
}
.header a{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fff;
}
.header a:hover{
  animation: roll .4s infinite;
  animation-direction: alternate;
}
.box-content{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  align-items: flex-start;
}
.box{
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.box-tweet{
  width: 67%;
  min-height: 178px;
}
.box-tweet p{
  padding-top: 20px;
  font-size: 22px;
  color: #1da1f2;
  font-weight: 700;
  display: inline-block;
  float: right;
  transition: color 0.5s ease-out;
}
.tweets .box{
  padding: 20px 50px;
  font-size: 18px;
  position: relative;
  padding-left: 135px;
  transition: box-shadow 0.2s ease-out;
  animation: fadeIn 0.8s ease-in-out;
}
.tweets .box:hover{
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.4);
}
.tweets .box p{
  margin: 5px 0 10px 15px;
  display: block;
  word-wrap: break-word;
}
.tweets .box small{
  display: block;
  text-align: end;
  color: #363636;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.tweets .box h2{
  display: inline-block;
  font-size: 14px;
}
.box-profile{
  width: 32%;
  height: 178px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
}
.img-profile{
  background-image: url("../images/profile.jpeg");
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
.img-profile:hover{
  cursor: pointer;
}
.profile-data h1{
  font-weight: 600;
}
.profile-data h2{
  font-size: 16px;
}
.profile-data h3{
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.profile-data p{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #1da1f2;
}
.profile-data input{
  display: inline-block;
  width: 140px;
  border: 0;
  border-bottom: 1px solid #1da1f2;
  padding: 3px 0;
  margin: 5px 0;
  outline: 0;
}
.edit, .save{
  font-size: 18px;
  background-color: #fff;
  border: 0;
}
.profile-data{
  max-width: 170px;
}
.tweet-input{
  resize: none;
  font-size: 18px;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #c1c1c1;
}
.tweet-input::placeholder{
  color: #c1c1c1;
}
.tweet-input:focus{
  border-bottom: 2px solid #1da1f2;
  outline: 0;
}
.btn{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1da1f2;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  transition: background 0.4s ease-out;
}
.btn:hover, .btn:focus{
  background-color: #0F557F;
  cursor: pointer;
  outline: 0;
}
.btn:disabled{
  background-color: #c1c1c1;
  cursor: not-allowed;
}
.tweets .img-profile{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 15px;
  left: 40px;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(40deg);
  }
}
