* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  background-image: url("../images/escheresque.png");

}
h1,h2,h3,p{
  color: #363636;
  font-weight: 400;
}
.content{
  padding: 0 160px;
}
.header{
  background-color: #1da1f2;
  padding: 5px 0;
}
.header a{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #fff;
  transition-duration: 0.2s;
  transition-property: transform;
}
.header a:hover{
  transform: scale(1.1);
}
.box-content{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  align-items: flex-start;
}
.box{
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.box-tweet{
  width: 67%;
  min-height: 178px;
}
.box-tweet p{
  padding-top: 20px;
  font-size: 22px;
  color: #1da1f2;
  font-weight: 700;
  display: inline-block;
  float: right;
}
.tweets .box{
  padding: 20px 50px;
  font-size: 18px;
  overflow: auto;
  position: relative;
}
.tweets .box p{
  position: absolute;
  top: 60px;
  left: 170px;
}
.tweets .box small{
  display: block;
  text-align: end;
  color: #363636;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.tweets .box h2{
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top: 35px;
  left: 145px;
}
.box-profile{
  width: 32%;
  height: 178px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}
.img-profile{
  background-image: url("../images/profile.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: scale(1);
  transition: .3s ease-in-out;
  display: inline-block;
}
.img-profile:hover{
  cursor: pointer;
	transform: scale(1.2);
}
.profile-data h1{
  font-weight: 600;
}
.profile-data h2{
  font-size: 16px;
}
.profile-data h3{
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.profile-data p{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #1da1f2;
}
.tweet-input{
  resize: none;
  font-size: 18px;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #c1c1c1;
}
.tweet-input::placeholder{
  color: #c1c1c1;
}
.tweet-input:focus{
  border-bottom: 2px solid #1da1f2;
  outline: 0;
}
.btn{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1da1f2;
  font-weight: 600;
  color: #fff;
  border-radius: 25px;
}
.btn:hover, .btn:focus{
  background-color: #0E4C72;
  cursor: pointer;
  outline: 0;
}
.btn:disabled{
  background-color: #c1c1c1;
  cursor: not-allowed;
}
.tweets .img-profile{
  width: 80px;
  height: 80px;
}
.tweets .img-profile:hover{
  transform: none;
}